<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/css/index.css'/>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="title">Welcome to Hotel California</div>
        <a href="/home">Enter Room >></a>
    </div>
</div>
</body>
</html>

