<!-- Common Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Hotel California</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= user.username %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <form id="logoutForm" method="POST" action="/auth/logout"></form>
                            <a href="#" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>