<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <title>Agreement</title>
    <% include ../common/css.ejs %>
</head>
<body>
<% include ../common/header.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Agreement</div>
                <div class="panel-body">
                    This is user agreement.
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<% include ../common/js.ejs %>
</body>
</html>